<div class="grid-container">
  <h1 class="mat-h1">Web Performance API</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Introduction
            <button mat-icon-button class="more-button" aria-label="Toggle menu">
              <mat-icon>fullscreen</mat-icon>
            </button>
          </mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <div class="quote">
            <q>The Performance interface provides access to performance-related information for the current page. It's
              part of the High Resolution Time API, but is enhanced by the Performance Timeline API, the Navigation Timing
              API, the User Timing API, and the Resource Timing API.
            </q>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Agenda
            <button mat-icon-button class="more-button" aria-label="Toggle menu">
              <mat-icon>fullscreen</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
    </mat-grid-tile>
  </mat-grid-list>
</div>
