<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="390px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Resources 💰
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <a
            href="https://developer.mozilla.org/en-US/docs/Web/API/Performance">https://developer.mozilla.org/en-US/docs/Web/API/Performance</a>
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/API/User_Timing_API">https://developer.mozilla.org/en-US/docs/Web/API/User_Timing_API</a>
          <a href="https://mdn.github.io/dom-examples/performance-apis/perf-api-support.html">https://mdn.github.io/dom-examples/performance-apis/perf-api-support.html</a>
          <a href="https://wicg.github.io/element-timing/"></a>
          <a href="https://github.com/Polymer/tachometer">https://github.com/Polymer/tachometer</a>
          <a href="https://www.brendangregg.com/blog/2018-06-30/benchmarking-checklist.html">https://www.brendangregg.com/blog/2018-06-30/benchmarking-checklist.html</a>
          <a
            href="https://nolanlawson.com/2021/09/12/how-to-write-about-web-performance/">https://nolanlawson.com/2021/09/12/how-to-write-about-web-performance/</a>
          <a
            href="https://chrome.google.com/webstore/detail/angular-devtools/ienfalfjdbdpebioblfackkekamfmbnh">https://chrome.google.com/webstore/detail/angular-devtools/ienfalfjdbdpebioblfackkekamfmbnh</a>
          <a href="https://github.com/tomeustace/measuring-app-performance">https://github.com/tomeustace/measuring-app-performance</a>

          <a href="https://country-code.ghost.io/angular-performance-monitoring-with-custom-typescript-decorators-2/">https://country-code.ghost.io/angular-performance-monitoring-with-custom-typescript-decorators-2/</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
