<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="390px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>
              My Background 🧝‍♂️
            </mat-card-title>
          </mat-card-header>
          <p>Senior Frontend Engineer</p>
          <p>Angular / Web enthusiast</p>
          <p>Developing realtime analytics applications</p>
          <p>Data visualization with d3</p>
          <p>How I got into Web Performance? Features vs Performance</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>
              Housekeeping 🍠
            </mat-card-title>
          </mat-card-header>
          <p>Premature optimization is the root of all evil! <b>(How come?)</b></p>
          <p>Lighthouse is not part of this talk 🔦 🏡 <b>(Why not?)</b></p>
          <p>Only measure critical paths</p>
          <p>Don't measure network requests</p>
          <p>Do measure algorithms / complex functions</p>
          <p>Do use WebWorkers where appropriate</p>
          <p>Random emojis everywhere 👾 </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Performance Web API 🚄
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
<p><b>MDN:</b><cite> The High Resolution Time standard defines a Performance interface that supports client-side latency measurements within
applications.</cite></p>

<p>window.performance.getEntries()</p>
<ul>
  <li><b>PerformanceMark</b></li>
  <li><b>PerformanceMeasure</b></li>
  <li>PerformanceNavigationTiming</li>
  <li>PerformanceResourceTiming</li>
  <li>PerformancePaintTiming</li>
</ul>
<p>
  The PerformanceEntry object encapsulates a single performance metric that is part of the performance timeline.
</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <img style="position: absolute; bottom: 350px;"
        src="https://www.azquotes.com/picture-quotes/quote-if-you-can-not-measure-it-you-can-not-improve-it-lord-kelvin-79-18-55.jpg" />
    </mat-grid-tile>
  </mat-grid-list>
</div>
