
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: rgb(28, 190, 240);
  color: white;
  font-size: 16px;
}
.quote {
  padding: 8px;
  background: hsla(0, 0, 0, .1);
}
