<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            console.time & console.timeEnd
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <pre>
<code class="language-js">
function test() {{ '{' }}
  console.time("time-label");
  for (let i = 0; i < 1000; i++) {{ '{' }}
    // do complicated stuff...
  {{ '}' }}
  console.timeEnd("time-label");
{{ '}' }}</code>
          </pre>
          <button mat-raised-button (click)="runConsoleTime()">Run</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="2"> -->
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Performance Web API
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <pre>
<code class="language-js">
function test() {{ '{' }}
  const t0 = performance.now();
  for (let i = 0; i < 1000; i++) {{ '{' }}
    // do complicated stuff...
  {{ '}' }}
  const t1 = performance.now();
  console.log(`time taken $ {{ '{' }}t1 - t0{{ '}' }}`);
{{ '}' }}</code>
          </pre>
          <button mat-raised-button (click)="runPerformance()">Run</button>
          <p>{{ performanceTime }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Performance Monitor
          </mat-card-title>
        </mat-card-header>
        <p>ctrl + shift + p -> performance monitor</p>
      <img width="90%" height="250px" src="./../../assets/images/performance_monitor.png" />
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
